---
---

@import "mahout";
// .main-sidebar{
//   display: none;
//  }
//  .bottom-panel{
//    display: block;
//  }
// @media (max-width: 991px) {
// .main-sidebar{
//  display: none;
// }
// .bottom-panel{
//   display: block;
// }
// }
.rounded-circle{
  height: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
